/*
 * colors:
 *  blue: #0a4883
 *  red: #c5392f
 *  white: #ffffff
 */

* {
    font-family: Montserrat, Helvetica, Arial, sans-serif;
}

body {
    background-color: #FFF;
	line-height: 1.5;
}

p, ul {
    text-align: justify;
}

.button-primary {
    background-color: #0a4883;
    border-radius: 4px;
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
/* --- header/footer styles --- */
#header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #FFF;
	box-shadow: 0px 0px 5px #000;
	z-index: 999;
}

.header-logo-image {
	height: 80px;
    vertical-align: middle;
	float: left;
}

.header-nav {
	list-style-type: none;
	padding: 0;
}

.header-tab {
	float: left;
	font-size: 28px;
	font-weight: bold;
	margin: 0px 15px;
}

.header-tab a{
	text-decoration: none;
	color: #223153;
	
	-webkit-transition: color 0.25s;
    -moz-transition: color 0.25s;
    -o-transition: color 0.25s;
    transition: color 0.25s;
}
.header-tab a:hover{
	text-decoration: none;
	color: #375087;
}

.contribute-button {
	background-color: #ff4c62;
	color: #FFF;
	padding: 0px 6px;
	border-radius: 10px;
	box-sizing: border-box;
	
	-webkit-transition: background-color 0.25s;
    -moz-transition: background-color 0.25s;
    -o-transition: background-color 0.25s;
    transition: background-color 0.25s;
}
.contribute-button:hover {
	background-color: #FF6679;
}

.content {
	margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
}

.call-to-action {
    background: #c5392f;
    color: white;
    padding: 20px 20px;
    margin-bottom: 20px;
}

.cta-header-text {
    font-size: 250%;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width:1600px) {
	.header-tab {
		float: left;
		font-size: 20px;
		font-weight: bold;
		margin: 0px 10px;
	}
	.header-logo-image {
		height: 60px;
		vertical-align: middle;
	}
	.content {
		margin-top: 60px;
	}
}
@media screen and (max-width:1200px) {
	#header {
		position: static;
		padding-bottom: 5px;
	}
	.header-logo-image {
		display: block;
		float: none;
		margin: auto;
	}
	.header-nav {
		margin: 0;
	}
	.header-tab {
		display: block;
		float: none;
		width: 100%;
		text-align: center;
		margin: 5px 0px;
	}
	.header-nav:last-child {
		margin-bottom: 0px;
	}
	.header-nav .contribute-button {
		max-width: 400px;
		margin: auto;
	}
	.content {
		margin-top: 0;
	}
}

.footer-text {
    width: 70%;
    margin: auto;
}

.footer {
    padding: 10px 0;
    padding-bottom: 40px;
    background-color: #16489d;
	color: #FFF;
    box-shadow: 0 -2px rgba(0, 0, 0, 0.1);
    bottom: 0;
    width: 100%;
}

.small-logo {
	height: 80px;
	margin: 40px;
}

.footer-button {
	box-sizing: border-box;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	border-radius: 10px;
	padding: 6px 10px;
}
.footer-button:hover {
	color: #16489d;
	background-color: #FFF;
}

.footer-disclaimer {
	box-sizing: border-box;
	font-size: 20px;
	text-align: center;
	color: #7391c4;
	border: solid 2px #7391c4;
	border-radius: 10px;
	padding: 25px;
	margin: 30px 0px;
	margin-bottom: 50px;
}

.small-logo {
	height: 80px;
	margin: 40px;
}

.footer-button {
	box-sizing: border-box;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	border-radius: 10px;
	padding: 6px 10px;
}
.footer-button:hover {
	color: #16489d;
	background-color: #FFF;
}

.footer-disclaimer {
	box-sizing: border-box;
	font-size: 20px;
	text-align: center;
	color: #7391c4;
	border: solid 2px #7391c4;
	border-radius: 10px;
	padding: 25px;
	margin: 30px 0px;
	margin-bottom: 50px;
}

.footer-links {
	color: #7391c4;
	font-size: 16px;
	text-align: center;
}
.footer-links a {
	margin: 0px 20px;
}
/* --- end header/footer styles --- */

input:not([type=checkbox]) {
    width: 100%;
}

label.inline-label {
    display: inline;
}

.form-field {
    padding-left: 3px;
    padding-right: 3px;
}

.message-error {
    color: white;
    background-color: #c5392f;
	padding: 5px;
}

.message-success, .message-info {
    color: white;
    background-color: #0a4883;
	padding: 5px;
}

a.whitelink:visited, a.whitelink {
    color: #ffffff;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
