/*
 * built by Fox Wilson
 * http://fwilson.me/
 */

/*
 * colors:
 *  blue: #0a4883
 *  red: #c5392f
 *  white: #ffffff
 *  isn't this such a brilliant color scheme though
 */

* {
    font-family: 'Lora', serif;
    line-height: 1.5;
}

.button-primary {
    background-color: #0a4883;
    border-radius: 4px;
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

body {
    background-image: url("/static/texture.png");
    background-repeat: repeat;
}

p, ul {
    text-align: justify;
}

.logo-image {
    height: 40px;
    vertical-align: middle;
    margin-right: 7px; /* completely arbitrary */
}
.pure-menu-heading {
    text-transform: none;
    margin-top: 3px;
    font-size: 140%;
}
.primary-menu {
    background: white;
    z-index: 999999; /* yeah lol */
    margin-bottom: 0;
    overflow-x: auto;
}

#header {
    margin-bottom: 0;
}

.pure-menu-link {
    color: #0a4883;
}

.content {
    margin-left: auto;
    margin-right: auto;
}

.call-to-action {
    background: #c5392f;
    color: white;
    padding: 20px 20px;
    margin-bottom: 20px;
}

.cta-header-text {
    font-size: 250%;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (min-width: 700px) {
    .main-content {
        width: 70%;
        margin: auto;
    }
    .call-to-action > .cta-text {
        width: 70%;
        margin: auto;
    }
}

@media screen and (max-width: 699px) {
    .main-content {
        width: 90%;
        margin: auto;
    }
    .call-to-action > .cta-text {
        width: 90%;
        margin: auto;
    }

}

.content-section {
    background-color: #0a4883;
    margin-top: 10px;
    padding: 2px 20px;
    color: white;
    border-radius: 2px;
}

.form-card {
    background-color: white;
    padding: 2px 20px;
    margin-top: 10px;
    padding-bottom: 20px;
    border-radius: 2px;
}

input:not([type=checkbox]) {
    width: 100%;
}

label.inline-label {
    display: inline;
}

.form-field {
    padding-left: 3px;
    padding-right: 3px;
}

.main-content:last-child {
    margin-bottom: 10px;
}

.footer-text {
    width: 70%;
    margin: auto;
}

.footer {
    margin-top: 20px;
    padding: 10px 0;
    padding-bottom: 40px;
    background: white;
    box-shadow: 0 -2px rgba(0, 0, 0, 0.1);

    bottom: 0;
    width: 100%;
}

.flashed-message {
    width: 70%;
    padding: 15px 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.message-error {
    color: white;
    background-color: #c5392f;
}

.person-card {
    width: 90%;
    margin: auto;
}

.person-image {
    float: left;
    margin-right: 5px;
    border-radius: 7px;
}

a, a:visited {
    color: #0a4883;
}

a:active {
    color: #c5392f;
}
