.main-content {
text-transform: uppercase;
}

.content-section {
text-transform: uppercase;
}

#header {
text-transform: uppercase;
}

p {
text-transform: uppercase;
}

li {
text-transform: uppercase;
}
