<html>
<head>
    <style>
        * {
            font-family: Montserrat, Helvetica, Arial, sans-serif;
        }
        .emailHeader {
            width: 100%;
        }
        .receipt {
            margin: 10%;
        }
    </style>
</head>
<body>
    <div class="emailHeader">
        <img class="emailHeader" src="{{ url_for('static', filename='UD-vertical.svg', _external=True) }}" alt="Unified Democracy Logo" />
    </div>
    <div class="receipt">
        <p>We have a new application for state director!</p>
        <p><br /></p>
        <p>Name: {{ form.first_name.data }} {{ form.last_name.data }}</p>
        <p>Email: {{ form.email.data }}</p>
        <p>State: {{ form.state.data }}</p>
        <p><br /></p>
        <p>{{ config.APP_NAME }}</p>
    </div>
</body>

