{% extends "base.html" %}
{% set extra_css = ["statepage", "huge-header", "well"] %}
{% block inline_css %}
#huge-header {
	background-image: url( "{{ url_for('static', filename='states/' + state.name.lower() + '/main.png') }}" );
}
{% endblock %}
{% block content %}
<div id="huge-header">
    <h1>{{ state.name | title }}</h1>
</div>

<div class="pure-g">
	<div class="pure-u-lg-1-3 pure-u-1-1">
		
		<div class="clearfix" id="director">
			<h2>State director: {{ state.director.account.full_name }}</h2>
			<div class="well">
			<img alt="{{ state.director.account.full_name }} " src="{{ url_for('static', filename='states/' + state.name.lower() + '/director.png') }}">
			<p>{{ state.director.bio }}</p>
			</div>
		</div>
	</div>

	<div class="pure-u-lg-1-3 pure-u-1-1">
		<div>
			<h2>State team</h2>
			{% for person in positions %}
			{% with acct = person.account %}
			<div class="person well {% if person.title %}with-blurb{% else %}name-only{% endif %}">
				<h3>{{ acct.full_name }}</h3>
				{% if person.title %}
					<h4>{{ person.title }}</h4>
				{% endif %}

			</div>
			{% endwith %}
			{% endfor %}
		</div>
	</div>
	
	<div class="pure-u-lg-1-3 pure-u-1-1 timeline">
		<h2>Timeline</h2>
		<table id="timeline">
			{% for event in events %}
			<tr>
				<td>{{ event.name }}</td>
				<td>{{ event.date.split("-")[0] }}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>
{% endblock %}
