{% extends "base.html" %}
{% block content %}
<div class="call-to-action">
    <div class="cta-text">
        <span class="cta-header-text header">About Us</span>
        <p>Teens for Teens is built upon the primary goal of changing the political ideology of "Students not being heard" in domestic legislative bodies. Up to date, no other nonprofit organization or Political Action Committee (PAC) has taken the initiative to put a stop to the lack of representation that constituents under the age of eighteen have been receiving. Founded in early February 2015, Teens for Teens was created to advocate for the civil rights and liberties that students have been calling for. By unifying students into a central force for change and progress, Teens for Teens is hoping to help students across the country finally be heard and have their opinions matter to the people representing them.</p>
        <p>The activities pursued by Teens for Teens include: Hosting candidate debates among candidates in upcoming elections, advising candidates and officials on youth specific issues, contributing service hours to local election candidates, working with municipalities to change the voting age for local elections, and registering students to vote.</p>
    </div>
</div>

<div class="main-content">
    <div class="content-section">
        <h1>Our Team</h1>
        <div class="pure-g">
            <div class="pure-u-1-1 pure-u-md-1-2">
                <div class="person-card">
                    <img src="/static/ben.jpg" class="person-image" />
                    <strong>Benjamin Burstein</strong><br />
                    <em>President</em>
                    <p>Benjamin Burstein is a junior at Miami Beach High School in Miami Beach, Florida and founded Teens for Teens to improve youth political engagement. In his free time he participates in Congressional Debate and chairs a local business association.</p>
                </div>
            </div>
            <div class="pure-u-1-1 pure-u-md-1-2">
                <div class="person-card">
                    <img src="/static/victoria.jpg" class="person-image" />
                    <strong>Victoria Bevard</strong><br />
                    <em>Executive Vice President</em>
                    <p>Victoria Bevard is a junior at Thomas Jefferson High School for Science and Technology in Alexandria, Virginia. She joined Teens for Teens in 2016 to expand the management and scope of the organization. In her free time, she captains her school's Congressional Debate team.</p>
                </div>
            </div>
        </div>
        <div class="pure-g">
            <div class="pure-u-1-1 pure-u-md-1-2">
                <div class="person-card">
                    <img src="/static/narrelle.jpg" class="person-image" />
                    <strong>Narrelle Gilchrist</strong><br />
                    <em>National Director of Communication</em>
                    <p>Narrelle Gilchrist is a homeschooled senior from West Palm Beach, Florida. She joined Teens for Teens to encourage more youth to become politically active and informed. Narrelle spends her free time competing in congressional debate, writing for several magazines, and singing in a community choir.</p>
                </div>
            </div>
            <div class="pure-u-1-1 pure-u-md-1-2">
                <div class="person-card">
                    <img src="/static/tyler.jpg" class="person-image" />
                    <strong>Tyler Hess</strong><br />
                    <em>National Director of Literature</em>
                    <p>Tyler Hess is a junior at Broad Run High School in Ashburn, Virginia. He joined Teens for Teens in 2016 to add to the PAC's literature content.  In his spare time, he captains his school's Speech team and is currently the state Parliamentarian of Virginia FBLA.</p>
                </div>
            </div>
            <div class="pure-u-1-1 pure-u-md-1-2">
                <div class="person-card">
                    <img src="/static/fox.jpg" class="person-image" />
                    <strong>Fox Wilson</strong><br />
                    <em>National Director of Information Technology</em>
                    <p>Fox Wilson is a senior at Thomas Jefferson High School for Science and Technology in Alexandria, Virginia. He joined Teens for Teens in 2016 to establish our back-end technology infrastructure.  In his free time, he works as the head system administrator at TJHSST, works on coding projects, plays the piano, and writes music.</p>
                </div>
            </div>
             <div class="pure-u-1-1 pure-u-md-1-2">
                <div class="person-card">
                    <img src="/static/sharon.png" class="person-image" />
                    <strong>Sharon Liu</strong><br />
                    <em>National Director of Web Design</em>
                    <p>Sharon Liu is a junior at Thomas Jefferson High School for Science and Technology in Alexandria, Virginia. She joined Teens for Teens to aid with front-end web design and general website maintenance. Sharon is in her school's Congressional Debate team, and spends her free time pursuing the visual arts and creative writing.</p>
                </div>
            </div>
        </div>
    </div>
    <!--
    <div class="content-section">
        <h1>Timeline</h1>
    </div>
    -->
</div>
{% endblock %}
