{% extends "base.html" %}
{% block content %}
<div class="pure-g">
	<div class="pure-u-1-4">
		<h2><a class="link" id="our-team">Our Team</a></h2>
	</div>
	
	<div class="pure-u-1-4">
		<h2><a class="link" id="council">Council</a></h2>
	</div>
	
	<div class="pure-u-1-4">
		<h2><a class="link" id="our-story">Our Story</a></h2>
	</div>
	
	<div class="pure-u-1-4">
		<h2><a class="link" id="press">Press</a></h2>
	</div>
</div>

<div class="tab" id="tab-our-team" class="text">
	<h1>Our Team</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

<div class="tab" id="tab-council" class="text">
	<h1>Council</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

<div class="tab" id="tab-our-story" class="text">
	<h1>Our Story</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

<div class="tab" id="tab-press" class="text">
	<h1>Press</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
	var tabs = document.getElementsByClassName("tab");
	console.log(tabs);
	
	function setOnclicks (name) {
		var link = document.getElementById(name);
		link.onclick = function () {
			console.log(name);
			
			for (var i = 0; i < tabs.length; i++) {
				var tab = tabs[i];
				tab.style.display = "none";
			}
			
			document.getElementById("tab-" + name).style.display = "block";
		}
	}
	
	setOnclicks("our-team");
	setOnclicks("council");
	setOnclicks("our-story");
	setOnclicks("press");
	
	/* set just the first tab visible. */
	for (var i = 1; i < tabs.length; i++) {
				var tab = tabs[i];
				tab.style.display = "none";
			}
</script>
{% endblock %}