{% extends "base.html" %}

{% block content %}
<div class="call-to-action">
    <div class="cta-text">
        <span class="cta-header-text header">We are <span id="what-we-are">Teens for Teens.</span></span>
        <p>The Teens for Teens Political Action Committee is the voice of more than 34.1 million young Americans in local, state, and federal politics. It supports an increase in political participation among 16–24 year olds through grassroots efforts targeting an expanded youth presence in government.</p>
        <p>Teens for Teens was founded in 2015 as a nonpartisan solution to the lack of representation for students across the United States. Over the past two years, Teens for Teens has developed a successful track record of educating lawmakers on issues important to teenagers and supporting legislation to increase voter turnout among young voters. <a class="whitelink" href="{{ url_for('staticpages.show_staticpage', page='platform') }}">Click here to view a full list of our advocacy.</a> Teens for Teens’ primary role is to serve as a source of information on youth issues, both for lawmakers and for students wishing to engage in their political landscapes.</p>
    </div>
</div>

<div class="main-content">
    <div class="content-section bottom-too">
       <h1>Our Accomplishments</h1>
       Teens for Teens has a record of <strong>extensive grassroots contributions and support for candidates seeking elected office.</strong>
       <ul>
           <li>Over 105 Teens for Teens members have contributed over 8,000 hours of in-kind political service</li>
           <li>We conduct political fundraising for candidates in municipal, county, and state-level elections</li>
           <li>We support Democratic, Republican, and third-party candidates aligned with Teens for Teens' <a class="whitelink" href="{{ url_for('staticpages.show_staticpage', page='platform') }}">platform</a>.</li>
       </ul>
    </div>

    <div class="pure-g">
        <div class="pure-u-1-2 icont center">
            <img alt="Students" src="/static/homepage/0.jpg" class="img" />
        </div>
        <div class="pure-u-1-2 icont center">
            <img alt="Panel" src="/static/homepage/1.jpg" class="img" />
        </div>
    </div>

    <div class="content-section bottom-too">
        <h1>Legislative Work</h1>
        <ul>
            <li>We have engaged in lobbying to lower the voting age in the cities of Doral, Miami Beach, and South Miami</li>
            <li>We have helped to increase voter turnout in numerous local elections:</li>
            <li>
            <ul>
                <li>November 2015 city of Miami election</li>
                <li>November 2015 city of Miami Beach election</li>
                <li>November 2015 city of Hialeah election</li>
                <li>January 2016 Florida City election</li>
                <li>February 2016 city of South Miami election </li>
                <li>March 2016 city of Miami Beach special election</li>
                <li>March 2016 of Miami referendum special election</li>
            </ul>
            </li>
        </ul>
    </div>

    <div class="pure-g">
        <div class="pure-u-1-2 icont center">
            <img alt="Shop" src="/static/homepage/2.jpg" class="img" />
        </div>
        <div class="pure-u-1-2 icont center">
            <img alt="Speaker" src="/static/homepage/3.jpg" class="img" />
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/box.js"></script>
{% endblock %}
