{% set extra_css = "index" %}
{% extends "base.html" %}
{% block content %}
<div class="image-box">
	<div class="box-background" id="vote-box-background">
	</div>
	<div class="box-foreground" id="vote-box-foreground">
		<div id="voting-text-box">
			VOTING IS NOT A<br>
			<span id="privilege">PRIVILEGE.</span>
		</div>
		<div id="rights-text-box">
			WE ARE LEADING THE FIGHT FOR VOTING RIGHTS FOR ALL
		</div>
		<div id="join-box">
			<form>
				 <input id="email-entry-box" type="text" name="email" placeholder="Email Address">
				 <input id="email-submit" type="submit" value="JOIN IN">
			</form>
		</div>
	</div>
</div>

<div class="main-text">
	<div class="left-box">
		<h2>Voting should be easy.</h2>
		Imagine a world where no American will lose their right to vote because they lack the ability to obtain an ID or register on-time. Where no citizen will be forced to choose between going to work and going to vote. That is the America we are fighting for.
	</div>
	<div class="right-box">
		<img alt="Plan for easier voting" src="/static/homepage/easy-voting.png" class="side-image" />
	</div>
	<div class="clear-bar"></div>
	<div class="right-box">
		<h2>Every vote should count.</h2>
		Realities such as gerrymandering and flawed campaign finance laws have allowed money, power, and influence to drown out the voice of the people. It’s time to let voters truly pick their leaders - to let the people's voice be heard across our government. We can make every vote count with reformed campaign finance laws and independently drawn Congressional districts.
	</div>
	<div class="left-box">
		<img alt="Maryland voting district" src="/static/homepage/maryland.png" class="side-image" />
	</div>
	<div class="clear-bar"></div>
	<div class="left-box">
		<h2>Students should learn why voting matters.</h2>
		There is a reason the United States ranks 120th in the world in average national voter turnout: our education system fails to adequately emphasize social civics and political literacy. If students do not learn why voting matters, they will be far less likely to vote. When we invest in civic education, we invest in the future of our democracy.
	</div>
	<div class="right-box">
		<img alt="Civics" src="/static/homepage/civics.png" class="side-image" />
	</div>
	<div class="clear-bar"></div>
</div>

<div id="stats" class="pure-g">
	<div id="stat-volunteers" class="pure-u-md-1-3 pure-u-1">
		<p class="stat-title">Registered volunteers</p>
        <p class="stat-number">{{ Volunteer.select().count() }}</p>
	</div>
	
	<div id="stat-hours" class="pure-u-md-1-3 pure-u-1">
		<p class="stat-title">Hours logged</p>
        <p class="stat-number">{{ LoggedHours.select().aggregate(fn.Sum(LoggedHours.hours)) }}</p>
	</div>
	
	<div id="stat-states" class="pure-u-md-1-3 pure-u-1">
		<p class="stat-title">States we're in</p>
		<p class="stat-number">4</p>
	</div>
</div>

<div class="image-box">
	<div class="box-background" id="map-box-background">
	</div>
	<div class="box-foreground">
		<div id="see-what-text-box">
			SEE WHAT'S HAPPENING IN YOUR STATE
		</div>
		<select id="state-select">
			<option value="" disabled selected>SELECT STATE</option>
			<option value="AL">Alabama</option>
			<option value="AK">Alaska</option>
			<option value="AZ">Arizona</option>
			<option value="AR">Arkansas</option>
			<option value="CA">California</option>
			<option value="CO">Colorado</option>
			<option value="CT">Connecticut</option>
			<option value="DE">Delaware</option>
			<option value="DC">District Of Columbia</option>
			<option value="FL">Florida</option>
			<option value="GA">Georgia</option>
			<option value="HI">Hawaii</option>
			<option value="ID">Idaho</option>
			<option value="IL">Illinois</option>
			<option value="IN">Indiana</option>
			<option value="IA">Iowa</option>
			<option value="KS">Kansas</option>
			<option value="KY">Kentucky</option>
			<option value="LA">Louisiana</option>
			<option value="ME">Maine</option>
			<option value="MD">Maryland</option>
			<option value="MA">Massachusetts</option>
			<option value="MI">Michigan</option>
			<option value="MN">Minnesota</option>
			<option value="MS">Mississippi</option>
			<option value="MO">Missouri</option>
			<option value="MT">Montana</option>
			<option value="NE">Nebraska</option>
			<option value="NV">Nevada</option>
			<option value="NH">New Hampshire</option>
			<option value="NJ">New Jersey</option>
			<option value="NM">New Mexico</option>
			<option value="NY">New York</option>
			<option value="NC">North Carolina</option>
			<option value="ND">North Dakota</option>
			<option value="OH">Ohio</option>
			<option value="OK">Oklahoma</option>
			<option value="OR">Oregon</option>
			<option value="PA">Pennsylvania</option>
			<option value="RI">Rhode Island</option>
			<option value="SC">South Carolina</option>
			<option value="SD">South Dakota</option>
			<option value="TN">Tennessee</option>
			<option value="TX">Texas</option>
			<option value="UT">Utah</option>
			<option value="VT">Vermont</option>
			<option value="VA">Virginia</option>
			<option value="WA">Washington</option>
			<option value="WV">West Virginia</option>
			<option value="WI">Wisconsin</option>
			<option value="WY">Wyoming</option>
		</select>
	</div>
</div>
{% endblock %}
