{% set extra_css = "platform" %}
{% extends "base.html" %}

{% block content %}
<div class="image-box">
	<div class="box-background" id="platform-box-background">
	</div>
</div>

<div class="main-content">
    Our Electoral Problems Are Mounting
    <div class="content-section">
        <p>America faces the staggering problem of a lack of voter turnout: the presidential voter turnout rate was 55% in 2012. The 2014 Congressional Midterm election turnout rate was 36%, the lowest since World War Two. Elections for state legislatures vary but are generally comparable to midterm turnout rates per state. Local elections see the least turnout, with around 25% turnout for larger city elections and 10% turnout for smaller municipalities. As of 2014, the U.S. ranks 120th in average national voter turnout, behind Yemen and Estonia.</p>
        
        <p>Political apathy certainly contributes to a fall in turnout. However, frustration in the lack of political progress and perceived flaws in the campaign system play a much more active role in discouraging voting.</p>
        
        <p>When the constituency doesn't vote, democracy fails to represent the people. The lack of voter turnout is a vicious cycle.  People fail to vote because they believe the political system is broken.  When fewer people vote, the system represents the views of fewer Americans.  The moderate voice becomes lost and Americans become even more disillusioned with politics as things continue to get worse.  Government accountability declines as fewer people vote, thereby increasing both the actual and perceived corruption.  Political disillusionment thus becomes a self fulfilling prophecy.</p> <br/>
    </div>

    <div id="platform-list">
        <ul>
            <li><div class="redbar"></div><a href="#">Lower the voting age in municipal elections.</a></li>
            <li><div class="redbar"></div><a href="#">Fund more K-12 civic classes.</a></li>
            <li><div class="redbar"></div><a href="#">Establish a national holiday for voting.</a></li>
            <li><div class="redbar"></div><a href="#">Abolish voter ID laws.</a></li>
            <li><div class="redbar"></div><a href="#">Eliminate the practice of gerrymandering.</a></li>
            <li><div class="redbar"></div><a href="#">Simplifying voter registration.</a></li>
            <li><div class="redbar"></div><a href="#">Create same day voter registration at all poll locations.</a></li>
            <li><div class="redbar"></div><a href="#">Increase early voting in state and municipal elections. </a></li>
            <li><div class="redbar"></div><a href="#">Grant DC representation in Congress.</a></li>
        </ul>
    </div>
</div>
{% endblock %}
