{% set extra_css = "privacy" %}
{% extends "base.html" %}

{% block content %}
<div id="main-text">
    <div id="title">Policies</div> 
    <div class="content-section">
        Respect for your privacy is important to the Unified Democracy PAC.  If you have any questions about our privacy policy, please do not hesitate to contact fox.wilson@unifieddemocracy.org.

        EFFECTIVE DATE:  August 1, 2016

        General Clarification
        The Site is owned and operated by the Unified Democracy Political Action Committee referred to in this policy as “the Unified Democracy PAC,” as well as “we,” “us,” “our” and other similar pronouns.
        This Policy does not apply to information that you may provide to us, or that we may obtain, other than through our Site, such as over the phone, by mail, or in person.

        Handling of Personal Information
        We acknowledge the importance of protecting your privacy and personal information, and will adhere to all applicable privacy laws.

        User Provided Information
        We collect used provided information from you when you:
        -Make a donation
        -Sign up to become a volunteer
        -Sign up to our mailing list
        -Enter information into your volunteer account
        When you perform any of the above functions, no information other than what you provide is collected.
        We do not knowingly collect personal information from anyone under 13 years old. If you are under 13 years old, please do not provide us with any such information or ask your parents for permission.

        Use of Cookies
        We use a session cookie to keep you logged if you log in as a volunteer.  We do not use any other cookies.

        General Analytics
        We automatically collect your IP address upon visiting out site in server request logs.

        Security of Personal Information
        We use the Stripe payment service to secure your donation information.  Data in transit to our Site is encrypted in TLSv1.2.

        Disclosure of Personal Information
        We do not share any of your personal information with three exceptions:
        -Due to the inherent nature of the Internet as an open global communications vehicle, we cannot guarantee that any information, during transmission through the Internet or while stored on our system or otherwise in our care, will be absolutely safe from intrusion by others, such as hackers.
        -In the unlikely event we need to investigate or resolve possible problems or inquiries, we can (and you authorize us to) disclose any information about you that may be in our possession to private entities, law enforcement or other government officials if necessary and appropriate.
        -We report volunteer hours entered by those over the age of 18 to the Federal Election Commission (FEC).  This report will include the information you provided when you signed up to become a volunteer.

        Use of Your Email
        We will send you correspondence and newsletters if you provide your email to us in any of the afore mentioned forms.  You may choose to opt out of this feature.  We will not distribute your email to any parties with the exceptions listed in the “Disclosure of Personal Information” section.

        “Linked-To” Web Sites
        The Site may contain links, banners, or widgets that lead to other website.  We are not responsible for these other sites, and so their posted privacy policies (not this Policy) will govern the collection and use of your information on them.
    </div>
</div>
{% endblock %}
