{% extends "base.html" %}

{% block content %}
<div class="call-to-action">
    <div class="cta-text">
        <span class="cta-header-text header">Press</span>
        <p>Teens for Teens has been the subject of several news articles from nationally syndicated sources.</p>
    </div>
</div>

<div class="main-content">
    <div class="content-section">
        <h2>Miami Herald, Joey Flechas</h2>
        <p>"[Benjamin Burstein, 17, a rising Beach High senior], wants Miami Beach youths to get involved at City Hall."</p>
        <p><a class="whitelink" href="http://www.miamiherald.com/news/local/community/miami-dade/miami-beach/article85499052.html">Read more</a></p>
    </div>

    <div class="content-section">
        <h2>Fusion, Daniel Rivero</h2>
        <p>"I can’t vote, and I can’t give monetary political contributions to change the status quo, so of course it’s logical to start a political action committee," Burstein reasoned.</p>
        <p><a class="whitelink" href="http://fusion.net/story/280231/benjamin-burstein-is-16-and-has-a-super-pac/">Read more</a></p>
    </div>

    <div class="content-section">
        <h2>NPR, Wilson Sayre</h2>
        <p>Through working with students Teens for Teens has contributed over 8,000 hours of service to local offices of area politicians.</p>
        <p><a class="whitelink" href="http://wlrn.org/post/youngest-person-press-room">Read more</a></p>
    </div>

    <div class="content-section">
        <h2>National Journal, Emma Roller</h2>
        <p>Benjamin Burstein is a high school sophomore from Miami Beach, Florida. He turns 16 next week. And last week, he started his own political action committee.</p>
        <p><a class="whitelink" href="http://www.theatlantic.com/politics/archive/2015/04/this-15-year-old-started-his-own-political-action-committee/455421/">Read more</a></p>
    </div>
</div>
{% endblock %}
