#huge-header {
	background-color: #0a4883;
	text-align: center;
	background-position: center center;
	background-size: cover;
}

#huge-header h1 {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
	margin-bottom: 150px;
	font-weight: bold;
	color: white;
	border: solid 2px white;
	padding: 5px 10px;
	border-radius: 10px;
	text-transform: uppercase;
}
