.main-content {
    
}

.content-section {

}

#header {
    text-transform: uppercase;
}

p {

}

#platform-list ul {
    text-transform: uppercase;
    list-style-type: none;
    font-size: 30px;
    color: #467de0;
    margin: 0;
    padding: 0px 0px 0px 20px;
}

#platform-list li {
    border-top: 1px solid #d1d1d1;
}

#platform-list li:last-child {
    border-bottom: 1px solid #d1d1d1;
}

#platform-list li a {
    color: #000;
    display: block;
    padding: 10px 35px;
    text-decoration: none;
    color: inherit;
    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
}
 
#platform-list li a:hover {
    background: #f6f6f6;
    padding: 10px 35px 10px 70px;
    color: #1e50a6;
}

