#footer {
    margin-top: 0 !important;
}

#content {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #0a4883;
    color: white;
    font-size: 170%;
    text-transform: uppercase;
    background-image: url("../background-images/map.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 600px;
}

h1 {
     margin-top: 150px;
}

#content select {
    color: black;
}

#vmap {
    margin: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.jqvmap-zoomin {
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.jqvmap-zoomout {
    width: 30px;
    height: 30px;
    top: 55px;
    line-height: 30px;
}

#footer {
    margin-top: 0;
}

@media screen and (max-width: 1200px) {
    #content {
        font-size: 130%;
        height: 420px;
    }

    h1 {
         margin-top: 110px;
    }
}

@media screen and (max-width: 650px) {
    #content {
        font-size: 110%;
        height: 300px;
    }

    h1 {
         margin-top: 40px;
    }
}
