#content {
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #0a4883;
	color: white;
	font-size: 170%;
	text-transform: uppercase;
	background-image: url("../background-images/map.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 600px;
}

h1 {
 	margin-top: 150px;
}

#content select {
	color: black;
}

#vmap {
	margin: auto;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.jqvmap-zoomin {
	width: 30px;
	height: 30px;
	line-height: 30px;
}
.jqvmap-zoomout {
	width: 30px;
	height: 30px;
	top: 55px;
	line-height: 30px;
}

@media screen and (max-width:1200px) {
    #content {
	    font-size: 130%;
	    height: 420px;
    }

    h1 {
     	margin-top: 110px;
    }
}
@media screen and (max-width:650px) {
    #content {
	    font-size: 110%;
	    height: 300px;
    }

    h1 {
     	margin-top: 40px;
    }
}

/* --- dropdown styles --- */
.dropdown select {
    outline: 0;
    height: 2.25em;
    background-color: white;
    padding: 0.5em 0.6em;
    display: inline-block;
    border: 1px solid #003973;
    border-radius: 11px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.dropdown select:focus {
    outline: 0;
    border-color: #129FEA;
}

.dropdown select:focus:invalid {
    color: #b94a48;
    border-color: #e9322d;
}

.dropdown select option {
    padding-left: 10px;
    transition: all .2s ease-in-out;
}

.dropdown select option:hover {
    transform: scale(1.05);
}

.dropdown select option[disabled]:hover {
    transform: scale(1);
}

.dropdown select[multiple] {
    height: auto;
}

.dropdown select[disabled] {
    cursor: not-allowed;
    background-color: #eaeded;
    color: #cad2d3;
}

.dropdown select[readonly] {
    background-color: #eee; 
    color: #777; 
    border-color: #ccc;
}
/* --- end dropdown styles --- */

#footer {
	margin-top: 0px !important;
}
