#content {
	width: 90%;
	max-width: 1300px;
	margin-left: auto;
	margin-right: auto;
	font-size: 125%;
	background-color: #F2F2F2;
	padding-bottom: 10px;
}
.main-content {
	padding: 0px 20px;
}
@media screen and (max-width:1200px) {
	#content {
		width: 100%;
		max-width: none;
		font-size: 100%;
		padding-top: 2px;
	}
}