#content {
    width: 90%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    font-size: 125%;
    background-color: #F2F2F2;
    padding-bottom: 10px;
}

.main-content {
    padding: 0 20px;
    margin-top: 50px;
}

@media screen and (max-width: 1200px) {
    #content {
        width: 100%;
        max-width: none;
        font-size: 100%;
        padding-top: 2px;
    }
}

.call-to-action {
    margin-top: 40px;
}

.call-to-action a {
    text-decoration: underline;
}
