.well {
	background-color: #f5f5f5;
	padding: 10px 15px;
	margin-bottom: 10px;
	border-radius: 5px;
	box-shadow: inset 0px 5px 10px #dddddd;
	border: solid 1px #dddddd;
}

.well img {
	float: right;
	margin-top: 5px;
	margin-left: 10px;
	width: 150px;
}
