.well {
    background-color: #fafafa;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: inset 0 5px 10px #dddddd;
    border: solid 1px #dddddd;
	overflow: hidden;
}

.well img {
	float: right;
	margin-top: 5px;
	margin-left: 10px;
	width: 150px;
    float: right;
    margin-left: 10px;
    width: 150px;
}

.well .email {
	text-align: center;
}

.well .email a , .well .button{
	display: inline-block;
	background-color: #0a4883;
	color: #ffffff;
	padding: 8px;
	border-radius: 5px;
	box-shadow: inset 0 5px 10px #003973;
	border: solid 1px #003973;
}

.well .email a:hover, .well .email a:focus,
.well .button:hover, .well .button:focus {
	color: #eeeeee;
	background-color: #003973;
	box-shadow: inset 0 5px 10px #002b63;
	border: solid 1px #002b63;
}
