{% set extra_css = "accounts" %}
{% extends "base.html" %}
{% block content %}
<div id="block">
	<h1>Log in</h1>
	<form class="pure-form pure-form-stacked" method="POST">
		{{ form.csrf_token() }}
        <div class="pure-g">
			<div class="pure-u-1">
				<label for="username">Username</label>
				<input id="username" type="text" name="email">
			</div>
			
			<div class="pure-u-1">
				<label for="password">Password</label>
				<input id="password" type="password" name="password">
			</div>
			
			<div class="pure-u-1">
				<button type="submit">Log in</button>
			</div>
        </div>
	</form>
</div>

{% endblock %}
