{% set extra_css = "formpage" %}
{% extends "base.html" %}
{% block inline_css %}
{% if get_flashed_messages() %}
#content {
    padding-top: 0 !important;
}
{% endif %}
{% endblock %}
{% block content %}
<div id="block">
    <h1>Log in</h1>
    <form class="pure-form pure-form-stacked" method="POST">
        {{ form.csrf_token() }}
        <div class="pure-g">
            <div class="pure-u-1">
                <label for="username">Username</label>
                <input id="username" type="text" name="email">
            </div>
            
            <div class="pure-u-1">
                <label for="password">Password</label>
                <input id="password" type="password" name="password">
            </div>
            
            <div class="pure-u-4-5">
                <button type="submit">Log in</button>
                <a href="{{ url_for('account.create_account') }}" class="button">Create account</a>
            </div>
            <div class="pure-u-1-5">
                <a href="{{ url_for('account.request_reset') }}">Forgot your password?</a>
            </div>
        </div>
    </form>
</div>

{% endblock %}
