{% extends "base.html" %}
{% block content %}
<div class="call-to-action">
    <div class="cta-text">
        <span class="cta-header-text header">About Us</span>
        <p>Teens for Teens is built upon the primary goal of changing the political ideology of "Students not being heard" in domestic legislative bodies. Up to date, no other nonprofit organization or Political Action Committee (PAC) has taken the initiative to put a stop to the lack of representation that constituents under the age of eighteen have been receiving. Founded in early February 2015, Teens for Teens was created to advocate for the civil rights and liberties that students have been calling for. By unifying students into a central force for change and progress, Teens for Teens is hoping to help students across the country finally be heard and have their opinions matter to the people representing them.</p>
        <p>The activities pursued by Teens for Teens include: Hosting candidate debates among candidates in upcoming elections, advising candidates and officials on youth specific issues, contributing service hours to local election candidates, working with municipalities to change the voting age for local elections, and registering students to vote.</p>
    </div>
</div>

<div class="main-content">
    <div class="content-section">
        <h1>Our Team</h1>
        <div class="pure-g">
            <div class="pure-u-1-1 pure-u-md-1-2">
                <img src="/static/ben.jpg" style="float: left;" />
                <h3>Benjamin Burstein</h3>
                <em>President and Chief Executive Officer</em>
                <p>Benjamin Burstein is a junior at Miami Beach High School in Miami Beach, Florida and founded Teens for Teens to improve youth political engagement. In his free time he participates in Congressional Debate and chairs a local business association.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
