{% extends "base.html" %}

{% block content %}
<div class="call-to-action">
    <div class="cta-text">
        <span class="cta-header-text header">Our Platform</span>
        <p>Teens for Teens is an organization working to increase political literacy and representation among students in the United States. We recognize that the amount of political alienation towards minors is largely due to their inability to vote. This has led to their representation at the local, state, and federal levels of government being nearly nonexistent.</p>
        <p>Through Teens for Teens, students are given a voice with a forum for lobbying, direct communication with a multitude of legislative bodies, and a variety of political commentaries with fellow students across the nation.</p>
    </div>
</div>

<div class="main-content">
    <div class="content-section">
        <h1>The Problem</h1>
        <p>America faces the staggering problem of a lack of voter turnout:</p>
        <ul>
            <li>The presidential voter turnout rate was 55% in 2012.</li>
            <li>The 2014 Congressional Midterm election turnout rate was 37%, the lowest since World War Two.</li>
            <li>Elections for state legislatures vary, but are generally comparable to midterm turnout rates per state.</li>
            <li>Local elections see the least turnout, with around 25% turnout for larger city elections and 10% turnout for smaller municipalities.</li>
            <li>As of 2014, the US ranks 120th in average national voter turnout, behind Yemen and Estonia.</li>
        </ul>
        <p>Political apathy certainly contributes to a fall in turnout. However, frustration in the lack of political progress and perceived flaws in the campaign system play a much more active role in discouraging voting.</p>
    </div>

    <div class="content-section">
        <h1>The Impact</h1>
        <p>When the constituency doesn't vote, democracy fails to represent the people.</p>
        <p>The lack of voter turnout is a vicious cycle.  People fail to vote because they believe the political system is broken.  When fewer people vote, the system represents the views of fewer Americans.  The moderate voice becomes lost and Americans become even more disillusioned with politics as things continue to get worse.  Government accountability declines as fewer people vote, thereby increasing both the actual and perceived corruption.  Political disillusionment thus becomes a self fulfilling prophecy.</p>
    </div>

    <div class="content-section">
        <h1>The Solution</h1>
        <p>Americans have only one way to return accountability to the system.  Their vote is the only thing that can make a difference.</p>
        <p>Unlike other organizations that work directly to eliminate political corruption, Teens for Teens works to build the number of youth voters.  Teens for Teens believes that a higher voter turnout rate will solve much of current political inadequacies via increased political accountability.</p>
        <p>Teens for Teens focuses on young voters and lowering the voting age because we believe that encouraging young people to vote establishes a habit of political engagement.  Improving engagement among youth remains the best hope for the next generation of American politics.</p>
    </div>

    <div class="content-section">
        <h1>Our Objectives</h1>
        <ul>
            <li>Lowering the voting age in municipal elections.</li>
            <li>Improving political literacy through K-12 education funding in civics.</li>
            <li>Establishing a national holiday for voting to improve accessibility to polls.</li>
            <li>Reducing voter discrimination and ID laws that depress minority turnout.</li>
            <li>Increasing transparency in campaign contributions.</li>
            <li>Eliminating the practice of gerrymandering in House and state legislature elections by using automated redistricting such as the Shortest Splitline algorithm.</li>
            <li>Simplifying voter registration.</li>
            <li>Streamlining and simplifying voting.</li>
            <li>Hiring invested and engaged poll workers. </li>
            <li>Implementing same-day voter registration at voting locations.</li>
            <li>Increasing early voting in municipal and state elections.</li>
            <li>Automatic voter registration at 18 and preregistration at 16.</li>
        </ul>
    </div>
</div>
{% endblock %}
