{% from "_formhelpers.html" import form_field, form_checkbox %}
{% extends "base.html" %}
{% block content %}
<div class="main-content">
    <div class="form-card">
        <h1>Donate to Teens for Teens</h1>
        <p>Thanks for your interest in our organization! Please note that the FEC
        requires us to collect and retain certain information about you,
        including your name, address, phone number, email address, occupation,
        and employer.</p>
        <form method="POST" class="pure-form pure-form-stacked" id="donate-form">
            {{ form.stripe_token }}
            {{ form.csrf_token }}
            <h2>Personal information</h2>
            <div class="pure-g">
                <div class="pure-u-1 pure-u-md-1-2">{{ form_field(form.first_name, placeholder="John") }}</div>
                <div class="pure-u-1 pure-u-md-1-2">{{ form_field(form.last_name, placeholder="Doe") }}</div>
            </div>
            <div class="pure-g">
                <div class="pure-u-1 pure-u-md-1-1">{{ form_field(form.street_address, placeholder="123 Main St") }}</div>
            </div>
            <div class="pure-g">
                <div class="pure-u-1 pure-u-md-1-2">{{ form_field(form.city, placeholder="New York") }}</div>
                <div class="pure-u-1 pure-u-md-1-4">{{ form_field(form.state, placeholder="NY") }}</div>
                <div class="pure-u-1 pure-u-md-1-4">{{ form_field(form.postal_code, placeholder="10001") }}</div>
            </div>
            <div class="pure-g">
                <div class="pure-u-1 pure-u-md-1-2">{{ form_field(form.email, placeholder="johndoe@gmail.com") }}</div>
                <div class="pure-u-1 pure-u-md-1-2">{{ form_field(form.phone, placeholder="2125555555") }}</div>
            </div>
            <div class="pure-g">
                <div class="pure-u-1 pure-u-md-1-2">{{ form_field(form.occupation, placeholder="CEO") }}</div>
                <div class="pure-u-1 pure-u-md-1-2">{{ form_field(form.employer, placeholder="John Doe Incorporated") }}</div>
            </div>
            <h2>Donation information</h2>
            <div class="pure-g">
                <div class="pure-u-1 pure-u-md-1-1">{{ form_field(form.amount, placeholder="10.00") }}</div>
            </div>
            <!-- card fields must never touch our server -->
            <div class="pure-g">
                <div class="pure-u-1">
                    <div class="form-field">
                        <label>
                            <span>Card number</span>
                            <input type="text" data-stripe="number" maxlength="16" />
                        </label>
                    </div>
                </div>
            </div>
            <div class="pure-g">
                <div class="pure-u-1-1 pure-u-md-1-3">
                    <div class="form-field">
                        <label>
                            <span>CVC</span>
                            <input type="text" data-stripe="cvc" maxlength="4" />
                        </label>
                    </div>
                </div>
                <div class="pure-u-1-1 pure-u-md-1-3">
                    <div class="form-field">
                        <label>
                            <span>Expiration month</span>
                            <input type="text" data-stripe="exp-month" maxlength="2" />
                        </label>
                    </div>
                </div>
                <div class="pure-u-1-1 pure-u-md-1-3">
                    <div class="form-field">
                        <label>
                            <span>Expiration year</span>
                            <input type="text" data-stripe="exp-year" maxlength="4" />
                        </label>
                    </div>
                </div>
            </div>
            <p>Contributions made to the Teens for Teens Political Action
            Committee are not refundable or transferable and are not deductible
            as charitable contributions for federal income tax purposes.</p>
            <p>By making a donation to Teens for Teens, you confirm that the
            following statements are true and accurate:</p>
            <ul>
                <li>I am a United States citizen or a lawfully admitted
                    permanent resident of the United States</li>
                <li>I am not a federal contractor</li>
                <li>I am at least 18 years of age</li>
                <li>This contribution is not made from the general treasury
                    funds of a corporation, labor organization, or national
                    bank</li>
            </ul>
            {{ form_checkbox(form.certification_statement) }}
            <br />
            <button type="submit" class="pure-button button-primary">Donate</button>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    Stripe.setPublishableKey('{{ key }}');
    $("#donate-form").submit(function(e) {
        var $form = $(this);
        var form = this;
        $form.find('button').prop('disabled', true);
        Stripe.card.createToken($form, function(status, response) {
            if(response.error) {
                alert(response.error.message);
                $form.find('button').prop('disabled', false);
            }
            else {
                var token = response.id;
                $("input[name=stripe_token]").val(token);
                form.submit();
            }
        });
        return false;
    });
</script>
{% endblock %}
