{% extends "base.html" %}
{% block content %}
<div class="main-content">
    <div class="form-card">
        <h1>Hours history</h1>
        <p>You have a total of {{ g.user.volunteer.total_hours() }} approved hours ({{ g.user.volunteer.total_hours(False) }} including unapproved hours).</p>
        <p>You can also <a href="{{ url_for("volunteer.log_hours") }}">log more hours</a>, if you like.</p>
        <p>When you're done, you can <a href="{{ url_for("volunteer.you") }}">go back to your profile</a>.
        <table class="pure-table" class="fullwidth">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Hours</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Approved</th>
                    <th>Last edited</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in hours %}
                <tr class="approval{{ entry.approved }}">
                    <td>{{ entry.date.strftime("%Y-%m-%d") }}</td>
                    <td>{{ entry.hours }}</td>
                    <td>{{ entry.category_str }}</td>
                    <td>{{ entry.description }}</td>
                    <td>{{ entry.approved_str }}</td>
                    <td>{{ entry.modifier.full_name }}</td>
                    <td><a href="{{ url_for("volunteer.edit_hours", id=entry.id) }}">Edit</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
