{% macro form_field(field, placeholder="", label=True) %}
<div class="form-field">
    {% if label %}{{ field.label() }}{% endif %}
    {{ field(placeholder=placeholder) }}
</div>
{% endmacro %}


{% macro form_textbox(field, placeholder="") %}
<div class="form-field">
    {{ field.label() }}<br />
    {{ field(placeholder=placeholder, rows=5, cols=80) }}
</div>
{% endmacro %}

{% macro form_checkbox(field) %}
<div class="form-field">
    {{ field() }}
    {{ field.label(class="inline-label") }}
</div>
{% endmacro %}

{% macro div_free_field(field, placeholder="") %}
    {{ field.label() }}
    {{ field(placeholder=placeholder) }}
{% endmacro %}
