{% set extra_css = extra_css | default(False) %}
<!DOCTYPE html>
<html>
    <head>
        <title>Unified Democracy</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="/static/css/pure.min.css" rel='stylesheet' type='text/css' />
        <link href="/static/css/grids-responsive.min.css" rel='stylesheet' type='text/css' />
        <link href="/static/css/base.css" rel='stylesheet' type='text/css' />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel='stylesheet' />
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700" rel='stylesheet' type='text/css' />
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel='stylesheet' type='text/css' />
        <link href="/static/css/font.css" rel='stylesheet' type='text/css' />
        <link href="/static/favicon.ico" rel='shortcut icon' />
        <script src="/static/jquery.min.js"></script>
        {% if extra_css %}
        {% if extra_css is string %}
        <link href="/static/css/{{ extra_css }}.css" rel='stylesheet' type='text/css' />
        {% elif extra_css is iterable %}
        {% for v in extra_css %}
        <link href="/static/css/{{ v }}.css" rel='stylesheet' type='text/css' />
        {% endfor %}
        {% endif %}
        {% endif %}
    </head>
    <body>
        <div id="header">
            <a href="/">
                <img alt="TFT Logo" src="/static/UD-vertical.svg" class="header-logo-image">
            </a>
            <ul class="header-nav">
                <li class="header-tab"><a href="{{ url_for('staticpages.show_staticpage', page='index') }}">HOME</a></li>
                <li class="header-tab"><a href="{{ url_for('staticpages.show_staticpage', page='platform') }}">PLATFORM</a></li>
                <li class="header-tab"><a href="{{ url_for('staticpages.show_staticpage', page='volunteer') }}">VOLUNTEER</a></li>
                <li class="header-tab"><a href="{{ url_for('staticpages.show_staticpage', page='about') }}">ABOUT US</a></li>
                <li class="header-tab"><a href="{{ url_for('staticpages.show_staticpage', page='press') }}">PRESS</a></li>
                <li class="header-tab"><a href="{{ url_for('donations.donate') }}"><div class="contribute-button">CONTRIBUTE</div></a></li>
            </ul>
        </div>

        <div id="content">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="flashed-message message-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% block content %}
            {% endblock %}
        </div>

        <div id="footer">
            <div class="footer-text">
                <div class="pure-g">
                    <div class="pure-u-1">
                        <div class="center">
                            <img alt="TFT Logo" src="/static/UD-icon-light.svg" class="small-logo">
                        </div>
                    </div>
                    
                    <div class="pure-u-xl-1-4 pure-u-1-2 footer-button">
                        <a href="https://plus.google.com/+TeensforteensInfoinc/about"><i class="fa fa-google-plus-square fa-lg"></i>&nbsp;&nbsp;Follow on Google+</a>
                    </div>
                    <div class="pure-u-xl-1-4 pure-u-1-2 footer-button">
                        <a href="tel:1-855-939-2013"><i class="fa fa-phone-square fa-lg"></i>&nbsp;&nbsp;(855) 939 2013</a>
                    </div>
                    <div class="pure-u-xl-1-4 pure-u-1-2 footer-button">
                        <a href="https://www.facebook.com/teensforteensusa"><i class="fa fa-facebook-square fa-lg"></i>&nbsp;&nbsp;Follow on Facebook</a>
                    </div>
                    <div class="pure-u-xl-1-4 pure-u-1-2 footer-button text-normal">
                        <a href="mailto:info@unifieddemocracy.org"><i class="fa fa-envelope fa-lg"></i>&nbsp;&nbsp;info@<wbr>unified<wbr>democracy<wbr>.org</a>
                    </div>
                    
                    <div class="pure-u-lg-1-4 pure-u-1"></div>
                    <div class="pure-u-lg-1-2 pure-u-1">
                        <div class="footer-disclaimer text-normal">
                            Paid for by The Unified Democracy PAC. Not authorized by any candidate or candidate's committee.
                        </div>
                    </div>
                    <div class="pure-u-lg-1-1 pure-u-1"></div>
                    
                    <div class="pure-u-1-1 footer-links">
                        <a href="{{ url_for('staticpages.show_staticpage', page='platform') }}">Our Platform</a> 
                        <a>Privacy&nbsp;Policy</a>
                        <a>Contact</a>
                    </div>
                </div>
            </div>
            {% if global_config["DISPLAY_DEBUG_INFO"] %}
            <p>platform version {{ version }}</p>
            {% endif %}
        </div>

        {% block scripts %}
        {% endblock %}
    </body>
    <!-- debug:
        g.user: {{ g.user }}
    -->
</html>
