<!DOCTYPE html>
<html>
    <head>
        <title>Teens for Teens</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" type="text/css" href="/static/pure.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/grids-responsive.min.css" />
        <link href='https://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css' />
        <link rel="stylesheet" type="text/css" href="/static/base.css" />
        <link rel="shortcut icon" href="/static/favicon.ico" />
        <script src="/static/jquery.min.js"></script>
    </head>
    <body>
        <div id="header">
            <div class="primary-menu pure-menu pure-menu-horizontal">
                <a class="pure-menu-heading" href="/">
                    <img src="/static/star-transparent.png" class="logo-image" />
                    <span class="logo-text">Teens for Teens</span>
                </a>

                <ul class="pure-menu-list">
                    <li class="pure-menu-item"><a href="{{ url_for('staticpages.show_staticpage', page='index') }}" class="pure-menu-link">Home</a></li>
                    <li class="pure-menu-item"><a href="{{ url_for('staticpages.show_staticpage', page='platform') }}" class="pure-menu-link">Platform</a></li>
                    <li class="pure-menu-item"><a href="{{ url_for('staticpages.show_staticpage', page='volunteer') }}" class="pure-menu-link">Volunteer</a></li>
                    <li class="pure-menu-item"><a href="{{ url_for('donations.donate') }}" class="pure-menu-link">Donate</a></li>
                    <li class="pure-menu-item"><a href="{{ url_for('staticpages.show_staticpage', page='about') }}" class="pure-menu-link">About Us</a></li>
                    <li class="pure-menu-item"><a href="{{ url_for('staticpages.show_staticpage', page='press') }}" class="pure-menu-link">Press</a></li>
                    <!--
                    <li class="pure-menu-item"><a href="/" class="pure-menu-link">Volunteer</a></li>
                    <li class="pure-menu-item"><a href="/" class="pure-menu-link">Activities</a></li>
                    <li class="pure-menu-item"><a href="/" class="pure-menu-link">Literature</a></li>
                    <li class="pure-menu-item"><a href="/" class="pure-menu-link">Press</a></li>
                    <li class="pure-menu-item"><a href="/" class="pure-menu-link">About Us</a></li>
                    -->
                </ul>
            </div>
        </div>

        <div class="content">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="flashed-message message-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% block content %}
            {% endblock %}
        </div>

        <div class="footer">
            <div class="footer-text">
                <h2>Get in touch!</h2>
                <p>Send us an email at info@teensforteens.info &middot; Call us at (305) 401-6150</p>
            </div>
        </div>

        {% block scripts %}
        {% endblock %}
    </body>
    <!-- debug:
        g.user: {{ g.user }}
    -->
</html>
